version: '3.8'

services:
  app:
    build: .
    container_name: nadpos_backend
    restart: always
    ports:
      - "4000:4000"
    volumes:
      - ./data:/app/data
    environment:
      - PORT=4000
      - JWT_SECRET=super_secret_key_for_nadpos_cloud
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/nadpos_cloud?schema=public

  nginx:
    image: nginx:alpine
    container_name: nadpos_nginx
    restart: always
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    # depends_on:
    #   - db

    # Postgres Database
  db:
    image: postgres:15-alpine
    container_name: nadpos_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nadpos_cloud
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
